input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#referral_link:hover {
    text-decoration: underline;
}

#copy:hover {
    background: #979797;
    fill: #333
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}