#navigation {
    grid-template-rows: repeat(12, minmax(0, 1fr));
}

#social {
    grid-row-start: 10;
    grid-row-end: 12;
}

#facebook:hover {
    fill: #FFF;
}

#twitter:hover {
    fill: #FFF;
}

#youtube:hover {
    fill: #FFF;
}

#telegram:hover {
    fill: #FFF;
}

.active {
    background-color: rgba(255, 255, 255, 0.2);
}

.active path {
    fill: white;
}